apiVersion: apps/v1
kind: Deployment
metadata:
  name: cf-stack-operator
  namespace: cf-stack-operator
spec:
  selector:
    matchLabels:
      app: cf-stack-operator
  replicas: 1
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: cf-stack-operator
    spec:
      serviceAccount: cf-stack-operator
      containers:
        - name: operator
          image: mdstech/cf-k8s-java-operator:1.0.31
          imagePullPolicy: Always
          ports:
            - containerPort: 80
          env:
            - name: AWS_REGION
              value: us-east-1
            - name: ASSUME_ROLE_ARN
              value:
            - name: DEFAULT_TAGS
              value: 'tag1:value1,tag2:value2'
            - name: DEFAULT_CAPABILITIES
              value:
          readinessProbe:
            httpGet:
              path: /health
              port: 8080
            initialDelaySeconds: 1
            timeoutSeconds: 1
          livenessProbe:
            httpGet:
              path: /health
              port: 8080
            initialDelaySeconds: 30
            timeoutSeconds: 1
